* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-attachment:fixed;
    background-image: url(bu2.jpg);
    background-position:left;
    background-size: contain;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav {
    background:teal;
    text-align: center;

}

.nav ul {
    list-style: none;
    display:inline-flex
}

.nav ul li {
    width: 170px;
    margin: 15px;
    padding: 15px;
}

.nav ul li a {
    text-decoration: none;
    text-align: center;
    color:mediumaquamarine;
    text-transform: uppercase;
}

.nav ul li:hover {
    background:powderblue;
}

.dropdown {
    display: none;
}

.nav ul li:hover .dropdown {
    display: block;
    position: absolute;
    background:teal;
    margin-top: 15px;
    margin-left: 15px;
}

.nav ul li:hover .dropdown ul {
    display: block;
    margin: 10px;
}

h1 {
    text-align: center;
    color: mediumaquamarine;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: fantasy;

}

.contact {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.form {
    justify-content: center;
    margin-top: 50px;
    margin-right: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:teal;
    padding:10px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}


.form textarea {
    width: 100%;
    background:white;
    color:black;
}
.form input {
    background: white;
    color:black;
    padding-top: 5px;
    padding-bottom: 5px;
}
.form .send {
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    float:right;

}

.right {
    justify-content: center;
    margin-left: 70px;
    padding: 10px;
    background:teal;
    border-radius: 5px;

}
.right p {
    margin-bottom: 10px;
    font-size: 20px;
}

.right a {
    text-decoration: none;
    color:lightskyblue;
}

.boja {
    color:mediumaquamarine;

}
