
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-attachment:fixed;
    background:teal;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.nav {
    background:teal;
    text-align: center;

}

.nav ul {
    list-style: none;
    display:inline-flex
}

.nav ul li {
    width: 170px;
    margin: 15px;
    padding: 15px;
}

.nav ul li a {
    text-decoration: none;
    text-align: center;
    color:mediumaquamarine;
    text-transform: uppercase;
}

.nav ul li:hover {
    background:powderblue;
    z-index: 999;
}

.dropdown {
    display: none;
}

.nav ul li:hover .dropdown {
    display: block;
    position: absolute;
    background:teal;
    margin-top: 15px;
    margin-left: 15px;
}

.nav ul li:hover .dropdown ul {
    display: block;
    margin: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.movie {
    width: 400px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: rgb(62, 125, 125);
    position: relative;
    overflow:hidden;
    
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.movie-info h4 {
    font-size: smaller;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition:transform 0.3s ease-in;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.movie:hover .overview {
    transform: translateY(0);
}

.movie-info h4 {
     color: grey;
      font-style: italic;
      font-size: 15px;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%; }
